<ul class="nav nav-tabs">
    <li class="nav-item" (click)="currentTab='tab-pokemons'" (click)="screen=false">
        <a class="nav-link" id="tabp" [ngClass]="{'active': currentTab=='tab-pokemons'}">Pokemons</a>
    </li>
    <li class="nav-item" (click)="currentTab='tab-favoritos'" (click)="screen=true">
        <a class="nav-link" id="tabf" [ngClass]="{'active': currentTab=='tab-favoritos'}">Favoritos</a>
    </li>
</ul>

<div *ngIf="screen == false" class="row m-5 mt-2">

    <div class="col-12 m-2 mb-4">
        <label for="buscar">Buscar pokémon:</label>
        <input type="number" name="buscar" class="form-control" placeholder="ID del pokémon (1-898)" min="1" max="898" [(ngModel)]="buscar" onchange="changebuscar()">
    </div>

    <!-- ALERTAS -->
    <div class="alert alert-success" id="alertaAgregado">Agregado</div>
    <div class="alert alert-warning" id="alertaExistente">Este Pokémon Ya Existe En Tus Favoritos</div>

    <ng-container *ngIf="buscar == undefined">
        <div class="card col-sm-6 col-lg-2" *ngFor="let pokemons of pokemons; let i = index">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{i+1}}.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Pokemon</p>
                <button class="btn btn-primary w-100" (click)="guardar(i+1)">Agregar a favoritos</button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="buscar != undefined">
        <div class="card col-sm-6 col-lg-2">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{buscar}}.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Pokemon</p>
                <button class="btn btn-primary w-100" (click)="guardar(buscar)">Agregar a favoritos</button>
            </div>
        </div>
    </ng-container>


</div>

<div *ngIf="screen == true" class="row m-5">

    <!-- ALERTAS -->
    <div class="alert alert-danger" id="alertaEliminado">Eliminado de tus favoritos</div>

    <div *ngIf="favoritos.length == 0">
        <h3 class="text-center m-5 pt-5">NO HAS AGREGADO NINGUN POKÉMON A TU LISTA DE FAVORITOS</h3>
    </div>

    <div class="card col-sm-6 col-lg-2" *ngFor="let favorito of favoritos; let i = index">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{favorito}}.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Pokemon</p>
            <button class="btn btn-danger w-100" (click)="eliminar(i)">Eliminar de favoritos</button>
        </div>
    </div>
</div>